@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


:root {
  --bg: #e9ebef;
  --primary: #5a6794;
  --secondary: #1c2135;
  --small-square: #CE0171;
  --alt: #d4bd87;
  --square: rgba(69, 190, 240, .5)
}

body {
  font-family: 'Montserrat', sans-serif;
  /* letter-spacing: 1; */
  padding-top: 100px;
  background-color: var(--bg);
  color: var(--secondary);
}

h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.5;
}

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


:root {
  --bg: #e9ebef;
  --primary: #5a6794;
  --secondary: #1c2135;
  --small-square: #CE0171;
  --alt: #d4bd87;
  --square: rgba(69, 190, 240, .5)
}

body {
  font-family: 'Montserrat', sans-serif;
  /* letter-spacing: 1; */
  padding-top: 100px;
  background-color: var(--bg);
  color: var(--secondary);
}

h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.5;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  background-color: var(--bg);
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.header-contain {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.header-move {
  opacity: 0.7;
  padding-top: 0;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--bg);
}

.logo-name {
  background: var(--secondary);
  padding: 15px 20px;
  color: var(--bg);
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-menu>a {
  font-size: 1rem;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--secondary);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.nav-active {
  font-weight: 700;
  color: var(--secondary) !important;
  border-bottom: 2px solid var(--secondary);
}

.menu-btn {
  font-weight: 700;
  color: var(--secondary);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px;
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

.mobile-menu {
  background: white;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 40px 0;
  position: absolute;
  height: 100vh;
  width: 50%;
  z-index: 10000;
  top: 0;
  left: -50vw;
  -webkit-transform: translate3d(-120%, 0, 0);
  transform: translate3d(-120%, 0, 0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.mobile-menu.active {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-box-shadow: 0px 0px 93px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 93px -10px rgba(0, 0, 0, 0.75);
}

.mobile-menu>a {
  font-size: 1rem;
  padding: 15px;
  padding-left: 25px;
  text-decoration: none;
  color: var(--secondary);
}

a.mobile-active {
  background: var(--primary);
  color: white;
}

/*
#contain-all {
  width: 99%;
  max-width: 1020px;
  margin: 0 auto;
}

#home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.info {
  position: relative;
}

.info>h1 {
  z-index: 1;
  line-height: 1.2;
  letter-spacing: -1;
  position: relative;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
}

.info>p {
  z-index: 1;
  position: relative;
  text-transform: capitalize;
  margin-bottom: 4rem;
}

.info>a {
  z-index: 1;
  position: relative;
  font-weight: 600;
  font-size: 0.9rem;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--secondary);
  letter-spacing: 2px;
}

.blue-square {
  border: 20px solid var(--square);
  width: 500px;
  height: 500px;
  position: absolute;
  z-index: 0;
  top: -150px;
  left: -340px;
}

.me-img {
  height: 600px;
  width: 100%;
  margin: 0 auto;
background: url("../img/me.jpg");
background-position: top center;
background-repeat: no-repeat;
background-size: cover;
}




#about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 15px;
  margin-bottom: 50;
}

.about-me-title {
  position: relative;
  width: 200px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

.blue-circle {
  position: absolute;
  background: var(--square);
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.about-me-title>h1 {
  position: relative;
  z-index: 1;
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.about-me-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  align-self: center;
  max-width: 500px;
  background-color: white;
  -webkit-box-shadow: 25px 59px 117px -71px rgba(169, 168, 168, 1);
  -moz-box-shadow: 25px 59px 117px -71px rgba(169, 168, 168, 1);
  box-shadow: 25px 59px 117px -71px rgba(169, 168, 168, 1);
}

.about-me-container p {
  padding: 50;
  max-width: 800px;
}

#projects {
  padding: 60px 15px;
  width: 100%;
}

.projects-title {
  position: relative;
  width: 200px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
}

.red-square {
  position: absolute;
  background: var(--small-square);
  opacity: .5;
  width: 130px;
  height: 130px;
}

.projects-title>h1 {
  position: relative;
  z-index: 1;
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.projects-container {
  margin-top: 20px;
  display: flex;
}

.mp4 {
  height: 600;
  width: 50%;
  flex: 1;
}

.black {
  background-color: black;
}

.huddln-mp4-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  max-width: 500px;
  margin: 0 auto;
}

.mp4-wrapper {
  position: relative;
  width: 250px;
  overflow: hidden;
  max-width: 300px;
  height: 520px;
}

.huddln-mp4 {
  height: 500px;
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: -125px;
  display: block;
  margin: auto;
  transition: all .2s ease-in-out;
}

.mp4-wrapper-main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  order: 2;
}

.card3 {
  order: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card3>.links {
  margin-top: 20px;
}

.hulddn-project {
  display: flex;
  flex-direction: column;
}

.huddln {
  height: 600;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.app {
  margin: 1% 0;
  padding: 20;
  display: flex;
  width: 50%;
  background: #f8f8f6;
  flex-direction: column;
  justify-content: space-between;
}

.app-title {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.app-title h1 {
  margin-left: 25;
  font-size: 40;
}

.app-image {
  border-radius: 10%;
  width: 50;
  height: 50;
  overflow: hidden;
  object-fit: contain;
  margin-right: 20px;
}

.var(--secondary);

  {
  padding: 10px 0;
  background-color: var(--secondary);
  ;
}

.app-details h6 {
  margin: 10 0;
  font-weight: bold;
  font-size: 16;
}

.app-details ul li {
  margin: 5 0;
}

.links {
  display: flex;
  width: 360px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.store_links {
  margin: 10px 0 15px 0;
}

.download {
  width: 130;
  margin: 0 10;
}

.not_available {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.git {
  height: 50;
}

.error {
  color: red;
}

footer {
  background: var(--primary);
  padding: 50px 15px;
  text-align: center;
  color: white;
}

footer>h5 {
  font-size: 1rem;
  text-transform: uppercase;
}

footer>h6 {
  font-size: 0.8rem;
  text-transform: capitalize;
}

footer>p {
  margin-top: 10px;
}

.mobile {
  display: none !important;
}

.web {
  display: flex !important;
}

@media only screen and (min-width: 1080px) {
  .mobile {
    display: flex !important;
  }

  .web {
    display: none !important;
  }


  .card1 {
    width: 50%;
  }

  .hulddn-project {
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
  }

  .mp4-wrapper-main {
    display: flex;
    flex-direction: row;
    order: 3
  }

  .card3 {
    order: 2;
  }
}


@media only screen and (max-width: 1200px) {}


@media only screen and (max-width: 960px) {
  .header-contain {
    width: 100%;
  }

  #contain-all {
    width: 100%;
  }

  .projects-container {
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }

  .app {
    width: 100%;
  }

  .mp4 {
    width: 120%;
    max-width: 600;
    order: 1;
  }

}

@media only screen and (max-width: 767px) {
  .info>h1 {
    font-size: 2rem;
  }

  .header {
    padding: 5;
  }

  .header-menu {
    display: none;
  }

  .logo {
    font-size: 1.3rem;
  }

  .menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header-move {
    opacity: 1;
  }

  #home {
    padding-top: 0;
  }

  .skills-title>h1 {
    font-size: 1.8rem;
    letter-spacing: 3px;
  }

  .blue-square {
    display: none;
  }

  .info {
    overflow: hidden;
  }

  .me-img {
    height: 400px;
  }

  .store_links {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
  }

  .download {
    margin: 2.5 0;
  }
}

@media only screen and (max-width: 500px) {
  .info>h1 {
    font-size: 1.8rem;
  }

  .huddln-mp4-wrapper {
    flex-direction: column;
  }
}


.card1 {
  display: flex;
  align-items: center;
  height: 220px;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  margin: 20px auto;
  border-radius: 25px;
  background-color: white;
  position: relative;
  -webkit-box-shadow: 25px 59px 117px -71px rgba(169, 168, 168, 1);
  -moz-box-shadow: 25px 59px 117px -71px rgba(169, 168, 168, 1);
  box-shadow: 25px 59px 117px -71px rgba(169, 168, 168, 1);
  overflow: hidden;
  cursor: pointer;
}

.order1 {
  order: 1;
  align-self: left;
}

.go-corner {
  position: absolute;
  background-color: var(--primary);
  height: 50px;
  width: 50px;
  top: -12.5px;
  right: -12.5px;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
}

.go-arrow {
  position: absolute;
  color: white;
  top: 5px;
  right: 7.5px;
}

.go-corner-left {
  position: absolute;
  background-color: var(--primary);
  height: 50px;
  width: 50px;
  top: -12.5px;
  left: -12.5px;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
}

.go-arrow-left {
  position: absolute;
  color: white;
  top: 5px;
  left: 7.5px;
}

ul {
  list-style-position: outside;
}

.appear-div {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  color: white;
}

li:not(:last-child) {
  margin-bottom: 10px;
}

li>p {
  font-size: 14px;
  color: white;
  margin-bottom: 5px;
}

li>p>span {
  font-weight: bold;
  font-size: 16px;
  color: white;
}

.speech-wrapper {
  animation: MoveUpDown 2s linear infinite;
  left: calc(50% - 50px);
  position: absolute;
  z-index: 50;
}

@keyframes MoveUpDown {

  0%,
  100% {
    top: 0;
  }

  50% {
    top: 10px;
  }
}

.speech-bubble {
  background: var(--secondary);
  color: white;
  border-radius: 5px;
  display: inline-block;
  font-size: 14px;
  margin-bottom: 1em;
  padding: 5px;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: 100px;
  border-bottom-width: 0;
  -webkit-box-shadow: 0px -17px 67px -34px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -17px 67px -34px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -17px 67px -34px rgba(0, 0, 0, 0.75);
}

.speech-bubble:after {
  border: 1em solid transparent;
  border-top-color: var(--alt);
  content: '';
  margin-left: -1em;
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  -webkit-box-shadow: 0px 98px 70px -20px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 98px 70px -20px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 98px 70px -20px rgba(0, 0, 0, 0.75);
}

.appear-div {
  transition: all 0.8s ease-in-out
}

@media (hover: hover) {
  .huddln-mp4:hover {
    transform: scale(1.05);
  }

  .download:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.05);
  }

  .mobile-menu>a:hover {
    background: var(--primary);
    color: white;
  }

  .header-menu>a:hover {
    font-weight: 700;
    color: var(--primary);
    border-bottom: 2px solid var(--primary);
  }

}

.card1:hover>.appear-div {
  opacity: 1;
}

.card1:hover>.go-corner-left {
  top: -30%;
  left: -30%;
  height: 200%;
  width: 200%;
}

.card1:hover>.go-corner {
  top: -30%;
  right: -30%;
  height: 200%;
  width: 200%;
}

*/