/* lato is main, merri is long text */

/* text 15-25 line spacing 120% 150%  */

/* basic ui color palet */

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
  /* font-family: "Playfair Display", serif; */
  font-family: 'Roboto Slab', serif;
  letter-spacing: 1;
  padding-top: 100px;
  /* background-color: #f8f8f8; */
}


.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  background: white;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  /* Full width */
  z-index: 20;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.header-contain {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.header-move {
  opacity: 0.7;
  padding-top: 0;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}

.logo-name {
  background: black;
  padding: 15px 20px;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-menu>a {
  font-size: 12px;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.header-menu>a:hover {
  font-weight: 700;
  color: #ff5253;
  border-bottom: 2px solid #ff5253;
}

.nav-active {
  font-weight: 700;
  color: #ff5253 !important;
  border-bottom: 2px solid #ff5253;
}

.menu-btn {
  font-weight: 700;
  color: #ff5253;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px;
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

.mobile-menu {
  background: white;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 40px 0;
  position: absolute;
  height: 100vh;
  width: 50%;
  z-index: 10;
  top: 0;
  left: -50vw;
  -webkit-transform: translate3d(-120%, 0, 0);
  transform: translate3d(-120%, 0, 0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.mobile-menu.active {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-box-shadow: 0px 0px 93px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 93px -10px rgba(0, 0, 0, 0.75);
}

.mobile-menu>a {
  padding: 15px;
  padding-left: 25px;
  text-decoration: none;
  color: black;
}

.mobile-menu>a:hover {
  background: #ff5253;
  color: white;
}

a.mobile-active {
  background: #ff5253;
  color: white;
}

/* CONTAIN */

#contain-all {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

/* TOP */

#home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 80px 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.info {
  padding: 15px;
  position: relative;
}

.info>h1 {
  z-index: 1;
  position: relative;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #16171b;
  margin-bottom: 2rem;
}

.info>p {
  z-index: 1;
  position: relative;
  color: #919191;
  text-transform: capitalize;
  margin-bottom: 4rem;
}

.info>a {
  z-index: 1;
  position: relative;
  font-weight: 600;
  font-size: 0.9rem;
  color: #16171b;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
  letter-spacing: 2px;
}

.blue-square {
  border: 20px solid #dbf1ff;
  width: 500px;
  height: 500px;
  position: absolute;
  z-index: 0;
  top: -70%;
  left: -340px;
}

.me-img {
  height: 600px;
  width: 100%;
  margin: 0 auto;
  /* max-width: 400px; */
  background: url("../img/me.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ABOUT ME */

#about-me {
  padding: 25px 15px;
  margin-bottom: 50;
}

.about-me-title {
  position: relative;
  width: 200px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

.blue-circle {
  position: absolute;
  background: #eef9ff;
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.about-me-title>h1 {
  position: relative;
  z-index: 1;
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #16171b;
  letter-spacing: 4px;
}

.about-me-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me-container p {
  padding: 50;
  background: #f8f8f6;
  max-width: 800px;
}

/* PROJECTS */

#projects {
  padding: 60px 15px;
}

.projects-title {
  position: relative;
  width: 200px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
}

.red-square {
  position: absolute;
  background: #ffeded;
  width: 130px;
  height: 130px;
}

.projects-title>h1 {
  position: relative;
  z-index: 1;
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #16171b;
  letter-spacing: 4px;
}

.projects-container {
  margin-top: 20px;
  display: flex;
}

.mp4 {
  height: 600;
  width: 50%;
  flex: 1;
}

.mp4-wrapper {
  overflow: hidden;
}

.huddln {
  height: 600;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.app {
  margin: 1% 0;
  padding: 20;
  display: flex;
  width: 50%;
  background: #f8f8f6;
  flex-direction: column;
  justify-content: space-between;
}

.app-title {
  display: flex;
  align-items: center;
  margin-bottom: 20;
}

.app-title h1 {
  margin-left: 25;
  font-size: 40;
}

.app-image {
  border-radius: 10%;
  width: 100;
  overflow: hidden;
}

.black {
  padding: 10px 0;
  background-color: black;
}

.app-details h6 {
  margin: 10 0;
  font-weight: bold;
  font-size: 16;
}

.app-details ul li {
  margin: 5 0;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.store_links {
  margin: 25px 0;
}

.download {
  width: 150;
  margin: 0 10;
}

.not_available {
  opacity: 0.4;
  filter: alpha(opacity=40);
  /* msie */
}

.git {
  height: 50;
}

.error {
  color: red;
}

/* FOOTER */

footer {
  background: #f8f8f6;
  padding: 50px 15px;
  text-align: center;
  color: gray;
}

footer>h5 {
  font-size: 1rem;
  text-transform: uppercase;
}

footer>h6 {
  font-size: 0.8rem;
  text-transform: capitalize;
}

footer>p {
  color: black;
  margin-top: 10px;
}

/* MEDIA QUERY */

/* in between */

@media only screen and (max-width: 1200px) {}

/* tablets */

@media only screen and (max-width: 960px) {
  .header-contain {
    width: 100%;
  }

  #contain-all {
    width: 100%;
  }

  .projects-container {
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }

  .app {
    width: 100%;
  }

  .mp4 {
    width: 120%;
    max-width: 600;
    order: 1;
  }
}

/* phones */

@media only screen and (max-width: 767px) {
  .header {
    padding: 5;
  }

  .header-menu {
    display: none;
  }

  .logo {
    font-size: 1.3rem;
  }

  .menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header-move {
    opacity: 1;
  }

  #home {
    padding-top: 0;
  }

  .skills-title>h1 {
    font-size: 1.8rem;
    letter-spacing: 3px;
  }

  .blue-square {
    display: none;
  }

  .me-img {
    height: 400px;
  }

  .store_links {
    display: flex;
    flex-direction: column;
  }

  .download {
    margin: 2.5 0;
  }
}